@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track {
  background: #fc9e9e;
}
::-webkit-scrollbar-thumb {
  background: #5e1717;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c0101;
}

html{
--scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
 padding: 0;
 margin: 0;
}

.animationNavbar{
  transition: transform 0.3s cubic-bezier(0, 0, 0.27, 1);
  transform: translateX(0);
}

.animationNavbar.deactivate{
  transform: translateX(-102%);
}

.no-scrollbar{
  display:none
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.colorIcons{
  color: black;
}
.colorIcons:hover{
  color: rgb(189, 52, 93)
}

a{
  -webkit-touch-callout: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  user-select: none;
}

/*  background for projects  */
.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}