@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track {
  background: #fe6b6b;
}
::-webkit-scrollbar-thumb {
  background: #5e1717;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c0101;
}

html{
--scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
 padding: 0;
 margin: 0;
}

.animationNavbar{
  transition: transform 0.3s cubic-bezier(0, 0, 0.27, 1);
  transform: translateX(0);
}

.animationNavbar.deactivate{
  transform: translateX(-102%);
}

.no-scrollbar{
  display:none
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
